<% content_for :header_tags do
  stylesheet_link_tag('issue_history_tabs.css', :plugin => :redmine_issue_detailed_tabs_time)
end

entries = get_issue_history_tab_entries()

unless entries.empty?
  tabs = get_issue_history_tabs(entries, journals).uniq
  # now we will try to see what tab will be the selected one
  selected_tab = get_selected_issue_history_tab(tabs)
%>

<div class="tabs">
	<ul>
		<% tabs.each do |tab| -%>
			<li>
				<%= link_to l(tab[:label]), { :tab => tab[:name] },
				:id => "tab-#{tab[:name]}",
				:class => ((tab[:name] != selected_tab ? 'tab-history' : 'tab-history selected')),
				:onclick => "return false;"%>
			</li>
		<% end -%>
	</ul>
</div>

<%= c = draw_entries_in_issue_history_tab(entries, journals).html_safe %>
<% end %>
<% heads_for_wiki_formatter if User.current.allowed_to?(:edit_issue_notes, issue.project) || User.current.allowed_to?(:edit_own_issue_notes, issue.project) %>

